<!DOCTYPE html>
<html>
	<head>
		<script src="https://d3js.org/d3.v3.js" charset="utf-8"></script>
        <script src="https://d3js.org/d3.geo.projection.v0.min.js" charset="utf-8"></script>
        <script src="/static/utils.js"></script>
        <script src="/static/vcs.js"></script>
        <script src="/static/cdms.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/vcs.css">
	</head>
	<body>
		<canvas id="canvas"></canvas>
		<canvas id="continents"></canvas>
	<script>
		var contexts = vcs.init();
		var plot_promise = new Promise(function(resolve){ resolve({}); });
		var proj = utils.getJSON("/proj/{{projtype}}");
		
		vcs.draw_continents(contexts, lat, lon, continents, proj, plot_promise);
	</script>
	</body>
</html>
